{
  "use_portable_settings": false,
  "civitai_api_key": "your_civitai_api_key_here",
  "folder_paths": {
    "loras": [
      "C:/path/to/your/loras_folder",
      "C:/path/to/another/loras_folder"
    ],
    "checkpoints": [
      "C:/path/to/your/checkpoints_folder",
      "C:/path/to/another/checkpoints_folder"
    ],
    "unet": [
      "C:/path/to/your/diffusion_models_folder",
      "C:/path/to/another/diffusion_models_folder"
    ],
    "embeddings": [
      "C:/path/to/your/embeddings_folder",
      "C:/path/to/another/embeddings_folder"
    ]
  },
  "auto_organize_exclusions": []
}
